<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>640969304986-7drpufd1nerthpespq6f630p4nkpg5ie.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.640969304986-7drpufd1nerthpespq6f630p4nkpg5ie</string>
	<key>API_KEY</key>
	<string>AIzaSyClq_cqKEtsxqFOVv15RU28_bfl91MC-RU</string>
	<key>GCM_SENDER_ID</key>
	<string>640969304986</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>se.hlanna.RestaurantApp</string>
	<key>PROJECT_ID</key>
	<string>restaruapp</string>
	<key>STORAGE_BUCKET</key>
	<string>restaruapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:640969304986:ios:649ebe1ee621a297</string>
	<key>DATABASE_URL</key>
	<string>https://restaruapp.firebaseio.com</string>
</dict>
</plist>